body{
    
    background-color:#F28AB2;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button
  {
    color: var(--clr-white);
    display: block;
    width: 100%;
    border-color: transparent;
     
    margin: 2rem auto 0 auto;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    letter-spacing: var(--spacing);
    border-radius: var(--radius);
    outline: 1px solid rgba(242, 138, 178, 0.8);
    cursor: pointer;
  }
  img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--light-shadow);
  }
